#

<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good) Exercises</span></div>

In [21]:
user_input = input('What is your name?')

print('How you doing',user_input,'!')

What is your name? bb

How you doing bb !

In [25]:
user_input = input('What is your name?')
age_input = input ('What is your age?')

print('My name is',user_input,'and I am',age_input,'years old.')

What is your name? bb
What is your age? 12

My name is bb and I am 12 years old.

In [30]:
pi = 3.141592653589793

print(f"The value of pi to 2 decimal places is: {pi:.2f}")
print(f"The value of pi to 3 decimal places is: {pi:.3f}")
print(f"The value of pi to 4 decimal places is: {pi:.4f}")

The value of pi to 2 decimal places is: 3.14
The value of pi to 3 decimal places is: 3.142
The value of pi to 4 decimal places is: 3.1416

In [56]:
fruits = [("Apple", 0.99), ("Banana", 0.59), ("Orange", 1.29)]

print(f"{'Fruit':10} {'Price':<5} ")

for fruit, price in fruits:
    print(f"{fruit:<10}${price:5} ")

Fruit      Price
Apple     $ 0.99
Banana    $ 0.59
Orange    $ 1.29

In [ ]:
while True:    
    try:
    
        grade = float(input("Enter the student's score: "))
        
        if 70 <= grade <= 100:
            letter_grade = "A"
        elif 50 <= grade < 70:
            letter_grade = "B"
        elif 35 <= grade < 50:
            letter_grade = "C"
        elif 0 <= grade < 35:
            letter_grade = "Fail"
        else:
            letter_grade = "Invalid grade."
    
        print(f"The student's letter grade is: {letter_grade}")
        break
    
    
    except ValueError:
        print("Invalid input! Please enter a valid number.")

In [120]:
def factorial(n):
    # changed > to < to exclude negative numbers instead
    if n < 0:
        return "Invalid input"
    # removed ! and included == instead of =    
    elif n == 0:
        return 1
    else:
        result = 1
        for number in range(1, n+1):
            # changed += to *= as it is supposed to multiply not plus
            result *= number
        return result


print(factorial(5))   # Testing, expected output: 120
print(factorial(-1))  # Testing, expected output: Invalid input

120
Invalid input